<div>
  <div>
    <h3 id="foodListHeadline">Food at Dex's Diner</h3>
    <button mat-stroked-button color="primary" (click)="toggleProductsList()">
      {{ showingProducts === true ? 'Hide Food' : 'Show Food' }}
    </button>
  </div>
  <div *ngIf="showingProducts">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let product of products">
      # {{ product.name }}: ${{ product.cost }}
      </mat-list-item>
    </mat-list>
  </div>
</div>

<router-outlet></router-outlet>
